.navContainer {
  padding: 1.5rem 6rem;
  z-index: 5;
}

.footer {
  padding: 3rem 4rem;
}

.navContainer > nav {
  justify-content: space-between;
  align-items: center;
}

.navContainer > nav > button {
  display: none;
}

.navContainer > nav > h1 {
  font-size: var(--text-md);
  font-weight: var(--regular);
}

.navList > li {
  font-size: var(--text-md);
  font-weight: var(--bold);
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
}

.footer > hr {
  margin-top: 5rem;
  height: 0.01rem;
  border: none;
  background-color: rgba(156, 154, 154, 0.322);
}

.footer > div {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer > div > div > h2 {
  font-weight: var(--semi-bold);
  font-size: var(--heading-3);
  color: rgba(190, 140, 31, 0.877);
}

.footer > div > div > h1 {
  font-size: var(--heading-3);
  font-weight: var(--semi-thin);
}

.footer > div > div > p,
.footer > div > div > ul > li,
.footer > div > div:nth-child(2) > ul > li,
.lastInfo > span {
  font-size: var(--text-md);
  font-weight: var(--thin);
}

.lastInfo {
  align-self: center;
}

.active {
  color: var(--primary-color-1);
}

@media (max-width: 768px) {
  .navContainer {
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
  }

  .navContainer > nav > button {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 40px;
    width: 40px;
    border: none;
    align-items: flex-start;
    z-index: 20;
    position: relative;
    background-color: transparent;
    color: var(--primary-color-1);
  }

  .navContainer > nav > button > span {
    background-color: var(--primary-color-1);
    width: 20px;
    height: 2px;
    border-radius: 0.3rem;
    display: block;
  }

  .navContainer > nav > button > span:nth-child(2) {
    width: 17px;
    border-radius: 0.3rem;
  }

  .navContainer > nav > button > span:nth-child(3) {
    width: 13px;
    border-radius: 0.3rem;
  }

  .navList {
    position: fixed;
    top: 72px;
    right: 0;
    flex-direction: column;
    align-items: center;
    height: 50dvh;
    width: 30%;
    color: black;
    padding-top: 3rem;
    z-index: 5;
    font-size: 1.5rem;
    background: linear-gradient(
      to left,
      rgba(253, 253, 253, 0.671) 0%,
      rgba(255, 254, 254, 0.986) 100%
    );
    transform: translateX(100%);
    transition: 0.9s ease-in-out;
  }

  .navList > li {
    border-bottom: 1px solid var(--primary-color);
    opacity: 1;
    transition: opacity 3s ease-in;
    transition-delay: 3s;
  }

  .navList > li:hover {
    border-bottom: 1.2px solid var(--primary-color-1);
    opacity: 1;
    transition-delay: 0;
  }

  .mobile {
    transform: translateX(0);
    transition: 0.9s ease-in-out;
  }

  .closemobile {
    transform: translateX(100%);
  }

  .navContainer > nav > h1 {
    color: white;
  }

  .footer {
    padding: 1rem;
  }

  .footer > div {
    flex-direction: column;
    align-items: start;
  }

  .lastInfo {
    align-self: flex-start;
  }
}
