.contactsection  {
 background-color: #4c4c5f1a;
}


.contactcard {
 display: grid;
 grid-template-columns: 90%;
 place-content: center;
 gap: 4rem;
}

.subcontact {
  box-shadow: 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  max-height: 250px;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 0.5rem;
  filter: opacity(0.8);
}

.subcontact > h2 {
  color: var(--primary-color);
  font-family: 'Bacasime Antique', sans-serif;
  font-size: var(--heading-4);
  font-weight: 800;
}

.subcontact > div,
.subcontact > h2 {
  padding: 1rem 1.1rem;
}

.subcontact > div h3 {
  color: var(--secondary-color-1);
  font-size: var(--heading-5);
}

.subcontact > div p {
  color: var(--secondary-color);
  font-size: var(--text-md);
  display: flex;
  gap: 0.5rem;
}

.form {
  padding: 1rem;
}

.form h2{
  font-size: var(--heading-1);
  margin-top: -1.8rem;
}

.form h2 > span {
  color: var(--primary-color-1);
  color: var(--secondary-color-1);
  font-weight: 800;
}

.form > input,
.form > textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-family: 'Playfair Display', sans-serif;
}

.form > input {
  padding: 1rem 3rem;
}

.form > input,
.form > textarea {
  font-size: var(--text-md);
  margin-block: 0.6rem;
}

.form > textarea {
  padding: 1.9rem 3rem !important;
}

.form > button {
  padding: 1.1rem 4rem !important;
  margin-left: 0;
  margin-right: auto;
  font-family: 'Playfair Display', sans-serif !important;
  background-color: var(--secondary-color-1);
  background: linear-gradient(to right, 
  rgba(255, 200, 62, 0.74) 0%,
  rgb(255, 200, 62) 100%);
  scale: 0.7;
  transition: scale 10s ease-in;
  transition-delay: 10s;
}

.form > button:hover {
  background: linear-gradient(to bottom, 
  rgba(253, 76, 91, 0.534) 0%,
  rgb(253, 76, 91) 100%);
  transition-delay: 0;
}

.form > p {
  padding-block: 0.1rem;
  padding: 0;
  margin: 0;
  color: rgba(255, 0, 0, 0.486);
}


@media screen and (min-width: 768px){
  .contactcard {
    grid-template-columns: 38% auto;
    gap: 2rem;
    place-content: unset;
    margin: auto;
    padding: 2rem 4rem;
   }
}


@media (min-width: 769px) and (max-width: 968px){
   .contactcard {
    display: grid;
    grid-template-columns: 90%;
    place-content: center;
    gap: 4rem;
   }
}