.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.padding-sm {
  padding: 1rem;
}

.padding-md {
  padding: 1.5rem;
}

.padding-lg {
  padding: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-sm {
  gap: 1rem;
}

.gap-md {
  gap: 1.5rem;
}

.gap-lg {
  gap: 2rem;
}

.align-x {
  justify-content: center;
}

.align-y {
  align-items: center;
}

.gap-xlg {
  gap: 3.5rem;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 1fr;
}

.grid-3 {
  grid-template-columns: 1fr;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 0.4rem;
}

.flex-fluid,
.flex-col {
  flex-direction: column;
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-fluid {
    flex-direction: row;
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
