.container {
  padding: 2rem 1rem;
}

.btn {
  padding: 1.4rem 3rem;
  border: none;
  background: linear-gradient(to right, 
  rgba(253, 76, 91, 0.534) 0%,
  rgb(253, 76, 91) 100%);
  scale: 1;
  transition: scale 8s ease-in-out;
  transition-delay: 8s;
}

.btn:hover {
  transform: scale(0.8);
  transition-delay: 0;
}

.sectioncard {
  padding: 1rem;
}

.hero {
  background-color: var(--primary-color);
  background-image: url("../../assets/images/yellowbig.svg"),
    url("../../assets/images/yellowmedium.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left bottom;
  background-size: 60px, 27px;
  height: 50vh;
  color: var(--background-color);
  text-align: center;
}

.hero h2 {
  font-size: var(--heading);
}

.hero p {
  font-size: var(--text-lg);
  max-width: 30ch;
  font-weight: var(--regular);
  line-height: 1.4;
}

.heading {
  margin-block: 1rem;
}

.heading h2{
  font-size: var(--heading);
  font-weight: var(--bold);
}

.section1 > div {
 text-align: left;
}

.textHolder{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.textHolder h3 {
  font-size: var(--heading-3);
  font-weight: var(--bold);
}

.textHolder p {
  font-size: var(--text-lg);
  font-weight: var(--regular);
  max-width: 56ch;
}

.textBtn {
  color: var(--background-color);
  margin: 0 auto;
  display: block;
  background: linear-gradient(to right, 
  rgba(253, 76, 91, 0.534) 0%,
  rgb(253, 76, 91) 100%);
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 5rem;
  }

  .sectioncard {
    padding: 2rem 6rem;
  }

  .hero {
    background-size: auto;
    height: 80vh;
    background-position: right center, left bottom;
  }

  .hero p {
    max-width: 40ch;
  }

  .textHolder{
    text-align: left;
  }
  
  .textBtn {
    color: var(--background-color);
    margin-left: 0;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1180px){
  .container {
    padding: 2rem;
  }

  .sectioncard {
    padding: 2rem 4rem;
  }
}